<div class="formularioCompletar">
  <h2>Formulario de Lista de Reproduccion</h2>
  <form [formGroup]="listaForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" formControlName="nombre" class="form-control" />
    </div>
    <div class="form-group">
      <label>Descripcion:</label>
      <input type="text" formControlName="descripcion" class="form-control" />
    </div>
    <div class="form-group">
      <label>Canciones:</label>
      <select name="canciones" formControlName="canciones" multiple class="form-control">
        <option *ngFor="let cancion of cancionesDisponibles" [ngValue]="cancion">
          {{ cancion.titulo }} - {{ cancion.artista }}
        </option>
      </select>
      <br>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>

</div >

<div class="formularioCompletar">
  <h2> Listas de Reproduccion</h2>

 <table class="table">
   <thead>


   <tr>
     <th>Nombre</th>
     <th>Descripcion</th>
     <th>Canciones</th>
     <th>Opciones</th>
   </tr>
   </thead>
   <tbody>
   <tr *ngFor="let lista of listasReproduccion">
     <td>{{lista.nombre}}</td>
     <td>{{lista.descripcion}}</td>
     <td>{{getTitulosCanciones(lista.canciones)}}</td>
     <td>
       <button type="button" class="btn btn-danger" (click)="eliminar(lista)">Eliminar</button>
     </td>

   </tr>

   </tbody>
 </table>
</div>
<!-- Formulario de búsqueda -->
<div class="formularioCompletar">
  <h2>Buscar Lista de Reproduccion</h2>
  <form [formGroup]="buscarForm" (ngSubmit)="consultar()">
    <div>
      <label>Nombre:</label>
      <input type="text" formControlName="nombre" class="form-control" />
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Consultar</button>
    </div>
  </form>
</div>

<!-- Tabla para mostrar la lista encontrada -->
<div class="formularioCompletar" *ngIf="listaEncontrada">
  <h2>Lista encontrada</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Canciones</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{listaEncontrada.nombre}}</td>
      <td>{{listaEncontrada.descripcion}}</td>
      <td>{{getTitulosCanciones(listaEncontrada.canciones)}}</td>
    </tr>
    </tbody>
  </table>
</div>




<router-outlet />
